.navbar {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 15px;

  &__links {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    background-size: cover;
    width: 140px;
    height: 62px;
  }

  &__nav-elements-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #0390E3;
    margin-left: 20px;
  }

  &__nav-elements {
    color: #0390E3;
  }

  &__profile-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__profile-image {
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-left: 6px;
  }
}